.t{
	position:absolute;
	top: -70px;
    left: -500px;
    width: 1300px;
  height: 1300px;
	transform: rotate(340deg);
 }

 .t1{
  
  position:absolute;
  top: -60px;
    left: 1230px;
    width: 1300px;
  height: 1300px;
   transform: rotate(330deg);


}

 body{
 	background-color: black;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
 }


 p{
  position:absolute;
 	font-family:futura;
  font-size: 12px;
  letter-spacing: 1px;
  
  top:130px;
  left: 680px;
  width: 30px;
  height: 100px;
  
  color: rgb(128,128,128);
  cursor: pointer;
 }


.p2{
  position:absolute;
  font-family:futura;
  font-size: 36px;
  letter-spacing: 1px;
  position: absolute;
  top:70px;
  left: 550px;
  width: 150px;
  height: 100px;
  color: rgb(128,128,128);
  
 }




a{
  cursor: default;
}


.p1{
  position:absolute;
  font-family: futura;
  font-size: 20px;
  line-height: 25px;
  font-weight: medium;
  position: absolute;
top:350px;
  left: 805px;
  color: rgb(128,128,128);
  width: 200px;
  height: 20px;
 
}


.p3{
  position:absolute;
  font-family: futura;
  font-size: 20px;
  line-height: 25px;
  font-weight: medium;
  position: absolute;
top:595px;
  left: 895px;
  color: rgb(128,128,128);
  width: 200px;
  height: 200px;

}

.p4{
  position:absolute;
  font-family: futura;
  font-size: 12px;
  line-height: 25px;
  font-weight: medium;
  
top:908px;
  left: 1225px;
  color: rgb(128,128,128);
  width: 200px;
  height: 200px;
  cursor: pointer;
}
















