img{
	position:absolute;
	top: -70px;
    left: -500px;
    width: 1300px;
  height: 1300px;
	transform: rotate(340deg);
 }

 body{
 	background-color: black;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
 }


 h1{
  position:absolute;
 	font-family:futura;
  font-size: 33px;
  letter-spacing: 1px;
  
  top:100px;
  left: 770px;
  width: 40px;
  height: 100px;
  
  color: rgb(255,255,255);
  cursor: pointer;
 }


p2{
  position:absolute;
  font-family:futura;
  font-size: 36px;
  letter-spacing: 1px;
  position: absolute;
  top:120px;
  left: 825px;
  width: 150px;
  height: 100px;
  color: rgb(128,128,128);
  
 }




a{
  cursor: default;
}


p1{
  position:absolute;
  font-family: futura;
  font-size: 20px;
  line-height: 25px;
  font-weight: medium;
top:350px;
  left: 1250px;
  color: rgb(128,128,128);
  width: 200px;
  height: 20px;

}


p3{
  position:absolute;
  font-family: futura;
  font-size: 20px;
  line-height: 25px;
  font-weight: medium;
top:550px;
  left: 1150px;
  color: rgb(128,128,128);
  width: 200px;
  height: 200px;
}

p4{
  position:absolute;
  font-family: futura;
  font-size: 20px;
  line-height: 25px;
  font-weight: medium;
top:575px;
  left: 1203px;
  color: rgb(255,255,255);
  width: 200px;
  height: 200px;
  cursor: pointer;
}
















