.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("HB.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1024px;
  height: 700px;
  
}


.p{
   position: absolute;
  top:610px;
  left:570px;
  width: 100%;
  font-family: Helvetica;
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(255,255,255);
}

@media(max-width: 1024px){
  
.background {
 
  background-image: url("shb.png");
  
  
}
.p{
  top:595px;
  left:120px;
  font-size: 15px;
}
}

















