
.background {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 30vh;
  background-image: url("szz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}


body{
 
  background-color:black;
}

p {
  width: 375px;
  color: rgb(169,169,169);
  font-family: 'Cambay', sans-serif;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  
}

h1 {
  color: rgb(169,169,169);
  font-family: 'Cambay', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
}