.background {
  position: relative;
  top: 0;
  left: 0;
  width: 1660px;
  height: 1000px;
  background-image: url("b.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;



}

.background.alarm{
  background-image: url("l.png");
}




body{
  background-color:black;
}

.hour{
	position:absolute;
top: 150px;
  left: 600px;
  width: 10px;
  height: 10px;
animation-name: animationA;
  animation-duration: 600s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
}

.hour.alarm{
  display: none;
}

.minute{
  position:absolute;
top: 150px;
  left: 800px;
  width: 10px;
  height: 10px;
animation-name: animationA;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

.minute.alarm{
  display: none;
}

.second{
  position:absolute;
top: 150px;
  left: 1000px;
  width: 10px;
  height: 10px;
animation-name: animationA;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.second.alarm{
  display: none;
}
.button {
  position: absolute;
  top: 250px;
  left: -700px;
  
  
  color: rgb(169,169,169);
  font-family: 'Trade Winds', sans-serif;
  font-size: 150px;
  
  font-weight: bold;
   
  transition: all 1s ease-in-out;
}

.button.alarm {
  left: 563px;
}

@keyframes animationA {
  0% {
     top: 150px;
    
  }
  100% {
    top:600px;
  }
}



















