.background {
  position: relative;
  top: 0;
  left: 0;
  width: 1660px;
  height: 900px;
  background-image: url("b.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;



}

.background.alarm{
  background-image: url("l.png");
}




body{
  background-color:black;
}

.hour{
	position:absolute;
top: 10px;
  left: 80px;
  width: 10px;
  height: 10px;
animation-name: animationA;
  animation-duration: 600s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
}

.minute{
  position:absolute;
top: 10px;
  left: 95px;
  width: 10px;
  height: 10px;
animation-name: animationA;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.second{
  position:absolute;
top: 10px;
  left: 70px;
  width: 10px;
  height: 10px;
animation-name: animationA;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



@keyframes animationA {
  0% {
     top: 10px;
    
  }
  100% {
    top:60px;
  }
}



















